<div class="nav_active" id="home">
  <div class="hero-unit">
    <div class="page-header">
      <h1>TimeVault <small>Your Simple Time Tracker</small></h1>
    </div>
    <p class="lead">Associate tasks with Git commits, time your Pomodoros, and more.</p>
    <%= 
      link_to_unless(user_signed_in?, 'Get Started', new_user_registration_path, class: "btn btn-large btn-success") do |name|
      link_to('Get Started', tasks_path, class: "btn btn-large btn-success")
      end 
    %>
  </div>

</div>
