<div class="nav_active" id="home">
  <h1>TimeVault</h1>
  <h2>Your Simple Time Tracker</h2>
  <hr>

  <p class="lead">TimeVault lets you track the time you spend on tasks! Soon it will also track your Pomodoros.</p>
  <p>
    <%= button_to('Get Started', new_user_registration_path, class: "btn btn-large btn-success", method: :get) %>
  </p>

</div>
