<div class="nav_active" id="home">
  <div class="hero-unit">
    <div class="page-header">
      <h1>TimeVault <small>Your Simple Time Tracker</small></h1>
    </div>
    <p class="lead">TimeVault lets you track the time you spend on tasks! Soon it will also track your Pomodoros.</p>
    <%= button_to('Get Started', new_user_registration_path, class: "btn btn-large btn-success", method: :get) %>
  </div>

</div>
