<div class="nav_active" id="all_pomodoros">
  <ul>
    <% @pomodoros.each do |pomodoro| %>
    <li><%= "Duration: #{pomodoro[:duration]}. Remaining: #{pomodoro[:remaining]}" %></li>
    <% end %>
  </ul>
</div>
